@charset "UTF-8";

#submitButton{
	width: 140px;
	padding: 10px;
	background-color: #26469B;
	color: white;
	border: none;
	border-radius: 4px;
	fontSize: 16px;
	cursor: pointer;
}
#cancelBtn{
	width: 140px;
	padding: 10px;
	color: #26469B;
	border: 1px solid #26469B;
	background-color : white;
	border-radius: 4px;
	fontSize: 16px;
	cursor: pointer;
}

#toggleBtn{
	width: 150px;
	padding: 10px;
	color: #26469B;
	border: 1px solid #26469B;
	background-color : white;
	border-radius: 4px;
	fontSize: 16px;
	cursor: pointer;
	margin-left: 900px;
}